#hero {
    margin: 0;

}

#about {
    overflow: hidden;
}

.heading {
    padding-bottom: 18px;
    font-size: 3em;
    display: table;
    margin: 0 auto 40px auto;
    position: relative;
    color: #111;
}

.heading:before {
    content: "";
    width: 80px;
    height: 3px;
    background: #F1C152;
    position: absolute;
    bottom: -4px;
    right: 35%;
    margin: auto;
    z-index: 1;
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
}


.subheading {
    text-align: center;
    color: #4C4C4C;
    max-width: 600px;
    margin: auto;
    margin-bottom: 75px;
}

/* section:hover .heading:before,
.row:hover .heading:before {
    width: 80px;
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
    right: 10px;
    left: -2px;
}

section:hover .heading:after,
.row:hover .heading:after {
    width: 8px;
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
    left: 76px;
} */